<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.laoji.provider.mapper.UmsAdminMapper">
  <resultMap id="BaseResultMap" type="com.laoji.provider.domain.UmsAdmin">
    <!--@mbg.generated generated on Sat Apr 04 20:48:11 CST 2020.-->
    <!--@Table ums_admin-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="login_time" jdbcType="TIMESTAMP" property="loginTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Sat Apr 04 20:48:11 CST 2020.-->
    id, username, `password`, icon, email, nick_name, note, create_time, login_time,
    `status`
  </sql>
  <select id="getPermissionValueByUserName" resultType="string" parameterType="string">
    select up.`value` from ums_admin ua
    LEFT JOIN ums_admin_role_relation uarr on ua.id=uarr.admin_id
    LEFT JOIN ums_role_permission_relation urpr on urpr.role_id=uarr.role_id
    LEFT JOIN ums_permission up on up.id=urpr.permission_id
    WHERE ua.username=#{username} and up.pid != 0;
  </select>
  <select id="getRoleByAdminId" resultType="integer" parameterType="integer">
    select uarr.role_id from ums_admin ua
    LEFT JOIN ums_admin_role_relation uarr on ua.id=uarr.admin_id
    WHERE ua.id=#{id,jdbcType=INTEGER};
  </select>
</mapper>
